.bubble {
  opacity: 0;
}
.warning {
  position: absolute;
  margin-right: 0.5%;
}
.warning:hover .bubble {
  opacity: 1;
}

.bubble {
  position: absolute;
  top: -80%;
  right: 10%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  filter: drop-shadow(1px 1px 2px black);
  background-color: rgb(150, 150, 150);
  border-radius: 0.3rem;
  /* overflow: hidden; */
  font-size: small;
  white-space: nowrap;
  z-index: 2;
  color:rgb(30,30,30)
}
