
:root {
    --color-primary: #1f4b56;
    --color-secondary: #33a9bf;
    --color-third: #8d99ae;
    --color-light: #edf2f4;
    --color-dark: black;
  }


.container {
    background-color: var(--color-third);
    color: var(--color-light);
    font-family: sans-serif;
    width: 30%;
    font-size: 60%;
    margin-top: 20%;
    margin-left: 1%;

}