.cont {
  background: radial-gradient( 40rem circle at bottom, rgb(105, 105, 105), black);
}
.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.cardLeft,
.cardRigth,
.cardD,
.cardDR {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 15rem;
  overflow: hidden;
  border-radius: 1rem;
  z-index: 0;
}
.cardLeft {
  transform: translateX(5rem);
  filter: blur(1.5px) drop-shadow(-2px 3px 5px black) grayscale(50%);
}
.cardRigth {
  transform: translateX(-5rem);
  filter: blur(1.5px) drop-shadow(2px 3px 5px black) grayscale(50%);
}
.cardD {
  transform: translateX(-120%);
  transition: transform 0.4s ease;
  filter: blur(1.5px) drop-shadow(-2px 3px 5px black) grayscale(50%);
}
.cardDR {
  transform: translateX(120%);
  transition: transform 0.4s ease;
  filter: blur(1.5px) drop-shadow(2px 3px 5px black) grayscale(50%);
}

.cardCenter,
.cardActiveL,
.cardActiveR {
  width: 70%;
  max-height: 20rem;
  display: flex;
  border-radius: 1rem;
  /* align-items: start; */
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  filter: drop-shadow(0px 10px 10px black);
}

.cardCenter {
  transition: transform 0.4s ease;
}

.cardActiveL {
  transform: translateX(70%);
  transition: transform 0.4s ease;
}
.cardActiveR {
  transform: translateX(-70%);
  transition: transform 0.4s ease;
}

.buttonShop {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: lightgray;
  border: none;
  width: 8rem;
  height: 2.5rem;
  border-radius: 1rem 1rem 1rem 1rem;
  filter: drop-shadow(2px 2px 2px black);
}
.buttonShop:hover {
  background-color: gray;
}
